#contenedor_tierra{
    background-image: url('/ambiente_sustentabilidad/img/earth.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#foto_problemas{
    background-image: url('/ambiente_sustentabilidad/img//problemas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}